@import "../theme";

/* The '&' is a shorthand for the containing element,
  so for example a '&.user-list' inside .game will compile to
  .game.user-list

  for more information visit https://sass-lang.com/guide
 */

 .profileDisplay {
  &.container {
    min-height: 300px;
    /* we include the center mixin defined in _theme.scss and save three duplicate lines :) */
    @include center;
    flex-direction: column;
  }
  &.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 16px;
    font-weight: 300;
    width: 25em;
    padding-left: 37px;
    padding-right: 37px;
    border-radius: 0.75em;
    background-color: $background;
    transition: opacity 0.5s ease, transform 0.5s ease;
  }
  &.field {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &.input {
    height: 35px;
    padding-left: 15px;
    margin-left: -4px;
    border: none;
    border-radius: 0.75em;
    margin-bottom: 20px;
    background: transparentize(white, 0.85);
    color: $textColor;
  }
  &.label {
    color: $textColor;
    margin-bottom: 10px;
    font-weight: 300;
  }
  &.button-container {
    justify-content: center;
    margin-top: 10px;
  }
  &.user-list {
    list-style: none;
    padding-left: 0;
  }
}



.profile {
  &.container {
    background: $background;
    padding: 1em;
    width: 25em;
    border-radius: $borderRadius;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: $dropShadow;
  }
  &.user-list {
    list-style: none;
    padding-left: 0;
  }
  &.user-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  & p,h2 {
    margin: 0.5em 0;
  }
}


.profileEntry {
  &.container {
    margin: 0.5em 0;
    width: 20em;
    padding: 10px;
    border-radius: $borderRadius;
    display: grid;
    align-items: center;
    background: lighten($background, 5);
  }
  &.status,
  &.username,
  &.id,
  &.birthday,
  &.creationdate {
    font-weight: 300;
  }

} 